{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "wesbos"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-plusplus": 0
  }
}