{
  "extends": [
    "wesbos"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "linebreak-style": "off",
    "import/no-cycle": "off",
    "no-use-before-define": "off",
    "no-undef": "off",
    "max-len": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-nested-ternary": "off",
    "no-bitwise": "off"
  }
}